@charset "UTF-8";

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

input[type="text"],
select[type="text"] {
	font-size: 90%;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

section {
	font-size: 90%;
}

hr {
	width: 880px;
	border: 1px solid;
	border-radius: 2px
}

/* ----- HEADINGS ----- */

h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
	margin-bottom: 2px;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
	
	
}

h1:after {
	display: block;
	height: 2px;
	background: linear-gradient(0.45turn, #007bff, #fff);
    /*background-color: #007bff;*/
    content: " ";
    width: 600px;
    margin-top: 30px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
	text-decoration: none;
}

a:hover,
a:active {
	color: #007bff;
}



/* ----- BUTTONS ----- */

.btn-scroll {
	padding: 3px 3px 0 3px;
}

.btn:link,
.btn:visited {
	font-size: 150%;
	transition: color 0.2s;
}

.btn-close:hover,
.btn-close:active {
	color: #fa210f;
}

.btn-add:link,
.btn-add:visited {
	padding: 0;
	font-size: 200%;
}

.btn-add:hover,
.btn-add:active,
.btn-scroll:hover,
.btn-scroll:active {
	color: #007bff;
	border-color: #fff;
}

/* ----- POP-UPS ----- */

.pop-up-window-buttons{
	font-size: 60%;
}

.pop-up-success{
	color: #007bff;;
}

.pop-up-error{
	color: #fa210f;
}
/* ----- LOADER ----- */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ----------------------------------------------- */
/* WORKDAY */
/* ----------------------------------------------- */

.container-workday{
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-first {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.content-name {
	padding-bottom: 14px;
}

.content-date{
	padding-bottom: 5px;
	
}

.col-last{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 70px;
}

.row-last a {
	margin: 10px;
	
}

/* FOOTER */

.footer div {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	word-spacing: 20px;
	letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* WORKDAY.HTML */
/* ----------------------------------------------- */

.col-third{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-right: 70px;
}

.date {
	letter-spacing: 10px;
	 margin-right:-10px;
	font-weight: 500;
	font-size: 120%;
	color: #007bff;
}

/* ----------------------------------------------- */
/* SEARCH */
/* ----------------------------------------------- */

.container-search{
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container-search .mobile-width {
	display: none;
}




/* HEADER-SEARCH */

.row-header{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* SEARCH BTN */

.row-search div{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.row-search div a {
	font-size: 130%;
}

